# RAGFusion
python-dotenv
pandas
langchain
langchain_community
langchain-chroma
langchain-google-vertexai
## Reranker
sentence_transformers

# DSPy
dspy
google-generativeai

# Self-RAG
langchain_community
# tiktoken
# langchain-openai
langchainhub
chromadb
langchain
# langgraph